{% extends 'Master.html' %}
{% load static %}

{% block Content %}
 <!--  -->
    <div class="profileC">
        <div>
            <img src="{% static 'Completed.png' %}" alt="">
        </div>
        <div>
            <h1>Complete the following Registretion info to add a new trainner linked to the current user</h1>
            <form action="{% url 'stage:newstg' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <!--  -->
{% endblock Content %}
    
   
