{% extends 'Master.html' %}
{% load static %}

{% block Content %}
 <!--  -->
    <div class="profileC">
        <div>
            <img src="{% static 'information.png' %}" alt="">
        </div>
        <div>
            <h1>Edit the user Accounts info</h1>
            <form action="{% url 'Accounts:userEdit' %}" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Save Changes">
            </form>
        </div>
    </div>
    <!--  -->
{% endblock Content %}
    