{% extends 'Master.html' %}
{% load static %}
{% block Content %}
 <!--  -->
    <div class="profileC">
        <div class="img">
            <img src="{% static 'code.png' %}" alt="">    
        </div>
        <div class="about">
            <h4><span>Welcome</span> </h4>
            <h3>
                
                I built this platform from scratch as a training project.<br/>
                The purpose of this dynamic web application is to manage training, also notify the trainers when their training gets closer.<br/>
                This Web Application was built with the <span class="techno">python </i></span> web framework <span class="techno">"DJANGO"</span>, along with <span class="techno">HTML5</span>, <span class="techno"> CSS,</span>and <span class="techno">JavaScript JQUERY </span>.
                <br/> when it comes to database side i use <span class="techno">"PostGreSQL"</i></i></span>.
            </h3> 
        </div>
    </div>
    <!--  -->
{% endblock Content %}